<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dennis Wong</title>
    <link rel="stylesheet" type="text/css" href="mainPage.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jsFile.js"></script>
</head>

<body ng-app="mainPage">
    <div class="col-md-8 center-block" id="title">
        <img id="profilePic" src="profilePic.jpg">
        <p id="titleDesc">
            <h1>Dennis Wong - Programmer, Gamer, Lifelong Student</h1>
            <h1>-------------------------------------------------</h1>
            <h2>An Aspiring Programmer Looking to Make A Difference</h2>
        </p>
    </div>
    <div ng-controller="TabController as tabs" class="col-md-8 center-block" id="tabs">
        <ul>
            <li><a href="#" ng-click="tabs.setTab(1)">About Me</a></li>
            <li><a href="#" ng-click="tabs.setTab(2)">Projects</a></li>
            <li><a href="#" ng-click="tabs.setTab(3)">Contact Me</a></li>
        </ul>
        <div class="panel" ng-show="tabs.isSet(1)" id="skillsList">
            <div class="row">
                <div class="col-xs-6">
                    <b>Front End Technologies</b>
                    <ul>
                        <li>Javascript, Angular JS</li>
                        <li>HTML/CSS</li>
                        <li>Twitter Bootstrap</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <b>Back End Technologies</b>
                    <ul>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C/C++</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="panel" ng-show="tabs.isSet(2)">
            not done yet
        </div>
        <div class="panel" ng-show="tabs.isSet(3)">
            also not done yet
        </div>

    </div>
</body>
</html>